.user {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.user form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.foto img {
  width: 70px;
  border-radius: 50%;
}

.user button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
}

.user form {
  margin-top: 30px;
}
