.nomes {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-size: 1.5rem;
}

.section ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 1px solid #d3d3d3;
  padding-top: 30px;
}

.section ul li {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 30px;
}

.foto {
  height: 120px;
  width: 100px;
}

.foto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
}

.amount {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
}

.amount button {
  padding: 0 10px 0 10px;
  cursor: pointer;
  border: none;
  background: white;
}

.amount > div {
  display: flex;
  justify-content: center;
  width: 30px;
}
