.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 2rem calc(4rem + 15px) 2rem 4rem;
}

.form {
  background: white;
  padding: 30px;
  height: 650px;
  overflow-y: auto;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.titulo {
  display: flex;
  position: relative;
}

.titulo h2 {
  padding: 10px 0 10px 0;
}

.titulo button {
  width: 40px;
  position: absolute;
  right: -15px;
  bottom: 25px;
}

::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do botão da barra de rolagem */

  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando o usuário passa o mouse */
}

@media (max-width: 40rem) {
  .modal {
    padding: 2rem calc(2rem + 15px) 2rem 2rem;
  }
}
