.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

  background: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.lista {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.lista a {
  display: block;
  padding: 16px 0px;
  position: relative;
}

.lista a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #333;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.lista a:hover::after,
.lista a.ativo::after {
  width: 100%;
}

.btnLogout {
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #222;
  background: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  position: relative;
  z-index: 300;
}

.button::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.button:focus,
.button:hover,
.mobileButtonActive {
  outline: none;
  background: #fff;
  border-color: #222;
  color: #222;
  border-color: #222;
  box-shadow: 0 0 0 2px #222;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.listaMobile {
  display: block;
  position: absolute;
  background: #fff;
  top: 50px;
  margin-right: 10px;
  width: 130px;
  z-index: 200;
  padding: 20px 10px 20px 10px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(10);
  opacity: 0;
  pointer-events: none;
}

.listaMobileActive {
  transition: 0.2s;
  transform: initial;
  pointer-events: initial;
  opacity: 1;
}

.listaMobileActive li {
  margin-bottom: 10px;
}

.listUser {
  display: flex;
  gap: 20px;
  align-items: center;
}
